body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 30%;

}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: 4px solid #f4c842;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 70px;
  float: left;
}


input[type="text"] {
  width: 10%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-bottom: 3px solid #0b0b0c;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

#imgCompletado{
  width: 2em;
  height: 2em;
}

button {
  padding: 10px 20px;
  background-color: rgb(88, 119, 109);
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3%;
}

button:hover {
  background-color: rgb(124, 165, 152);
}



table {
  width: 30%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center;
}

table th {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

table td {
  padding: 10px 0;
  border-bottom: 3px solid  rgb(158, 209, 193);
  font-size: 1.6em;
}


h1{
  font-size: 2em;
  color: rgb(88, 119, 109);
}










